{% extends 'registration/forgot_password_base.html' %}

{% block content %}
<br><br>
<section >
    <br><br>
  <div class="container">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5">
                  <img src="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" width="130" height="130" class="rounded-circle z-depth-0 pol" alt="">
                  <p class=" mb-5 blink90" style="color: orange; font-size: 200%; text-align: center; font-weight:900">Hi, Forget Password</p>
                <!-- class row for description-->
                <div class="row d-flex justify-content-center mb-4">
                  <!-- class column -->
  
                </div>
                <h3>Enter Your Email Address</h3> 
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="btn btn-outline-light btn-lg px-3" type="submit">Submit</button>
                </form>
                </div>
              </div>
              </div>
              </div>
            </div>
            </div>
            </div> 
            </div>
            
  
  </section>
  
{% endblock %}