 {% extends 'aboutrite.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block content %}

  <!-- Page Content -->
{% comment %} 
  <div  style="background-color:teal">
<br> {% endcomment %}


{% comment %} 
<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div> {% endcomment %}
 {% comment %} <br>

 </div>
{% endcomment %}
     

<div style="background-color: white">  
  <br>   
  <h3 style="text-align: center; background-color: white;  color: ORANGE; font-weight:900">OUR LOCATION</h3>
  <h3 style="text-align: center; color: Black; background-color: white;font-weight:900; font-family: cursive">VIEW MAP <span style="color:red; font-family: cursive">TO LOCATE US </span></h3>
<br>
  <div class="container-fluid" style="background-color: darkslategrey">
   <br>



  <div class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3550.6147461551914!2d6.344341314424168!3d7.272154316025368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10467734127d8db7%3A0xa81a217f046cd312!2sRitedishes!5e1!3m2!1sen!2sng!4v1680576338357!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br>

<div class="card">
    <div class="col" >
      <div class="card" > 
<div class="card-body" >
 <h1 style="color: orange; font-size: 200%; text-align: left; font-weight:900">Our Contact Info</h1>

 <h1 class="lead" style="  color: darkslategrey; font-weight:900"> <img src="https://i.postimg.cc/8Cc5rLyZ/call.jpg" width="40" height="40" class="rounded-circle z-depth-0" alt=""> 08137120024</h1>

 <h1 class="lead" style="  color: darkslategrey; font-weight:900"><img src="https://i.postimg.cc/pdzM1ZLG/email2.png" width="40" height="40" class="rounded-circle z-depth-0" alt=""> ritedishesn@gmail.com</h1>

 <h1 class="lead" style="  color: darkslategrey; font-weight:900"><img src="https://i.postimg.cc/VNLZ8k7y/address.png" width="40" height="40" class="rounded-circle z-depth-0" alt=""> 82B Ogiriga New Site Okugbe Road Okpella, <span style="color: firebrick; font-weight:bold">Edo State</h1>
 </div>
</div>
</div>
</div> 
<br>
</div>
         {% comment %} <div class="col-md-6 col-lg-4 col-xl-3"> {% endcomment %}
         <div style="background-color: white">
        <img src="https://i.postimg.cc/mkFQsSgR/canteen2.jpg" alt="Lights" style="width: 100%;
        height: 400px" >

        <div style="  text-align: center;"><span  style=" color:ORANGE; font-family:sans-serif; font-weight:bold; font-size:220%; text-shadow: 5px 5px #00008B ">Our Company</span></div>
    </div>

    <div class="container" style="background-color: white">
        <h5 style="color: black; display:flex; justify-content: center;">RITEDISHES is Nigeria'a pioneer QSR brand, renowned for its delicious meals and freshly baked pastries.
            we have grown over the years, constantly re-inventing our products and services, to match the ever-evolving needs of our customers.
        </h5>
        <h5 style="color: black">To better server our customers, we have expanded our service style with the introduction of (Event Planning such as Wedding Ceremony,
            Birthday Party, Naming Ceremony, Anniversary Celebration). This modular store avails us with the fast-paced lifestyles of our customers.
        </h5>
        <h5 style="color: black">Our standard stores remain the choice location for family outings, hanging out with loved ones and enjoying a home cooked
            meal, away from home, as we will always be RITEDISHES ON FOOD, RITEDISHES FOR YOU! </h5>
      </div>


{% endblock %}



