{% extends 'riteway.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
<br><br>

<section >
  <br><br>
<div class="container">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem; width:350px; margin: auto; height: 679px">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <img src="https://i.postimg.cc/5tDcWch9/ritedishes-modified.png" width="130" height="130" class="rounded-circle z-depth-0 pol" alt="">
                <p class="con mb-5 blink90" style="color: orange; font-size: 200%; text-align: center; font-weight:900">Hi, Welcome Back</p>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center ">
                <!-- class column -->

              </div>
                <form action="" method="post">
                  {% csrf_token %}

              <div class="form-group">
                <div class="col-md-12">

                  <h6  style="color: lightsteelblue; font-weight: bold; font-size: 20px; text-align: left"><label for="username">🕵🏻‍♂️Username</label></h6>
                  <input type="text" name="username" style="border: 2px solid cyan" placeholder="Fill in Username Here" class="form-control">
<br>
                  <h6 style="color: lightsteelblue; font-weight: bold; font-size: 20px; text-align: left"><label for="password">🔐Password</label></h6>
                  <input type="password" name="password" style="border: 2px solid cyan" placeholder="Fill in Password Here" class="form-control">
                  </div>
                  {% comment %} <div class="row justify-content-center">
                      <input type="submit" value="🔓Login" class="btn btn-warning btn-lg mt-3 font-weight-bold" style=" width: 89%; padding: 10px 32px; ">
                  </div> {% endcomment %}
                  <br>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                  <br><br>

                  <p style="text-align: left"><a href="{% url "password_reset" %}" style="color:cyan; background-color:transparent; text-decoration:none"  class=" fw-bold">Forget password?</a></p>
<br>
                  <div>
                    <p class="mb-0">Don't have an account?</p> <p><a href="{% url 'register' %}" class=" fw-bold" style="color:cyan; background-color:transparent; text-decoration:none">Sign Up</a>
                    </p>
                  </div>
                  
                </div>
              </div>
             
                </form>
              </div>
            </div>
            </div>
            </div>
          </div>
          </div>
          </div> 
          </div>
          

</section>
{%endblock%}



{% comment %} 
            <section class="vh-100 gradient-custom">
<div class="container">
              <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-center">
            
                        <div class="mb-md-5 mt-md-4 pb-5">
            
                          <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                          <p class="text-white-50 mb-5">Please enter your login and password!</p>
            
                          <div class="form-outline form-white mb-4">
                            <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX">Email</label>
                          </div>
            
                          <div class="form-outline form-white mb-4">
                            <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">Password</label>
                          </div>
            
                          <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
            
                          <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            
                          <div class="d-flex justify-content-center text-center mt-4 pt-1">
                            <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                          </div>
            
                        </div>
            
                        <div>
                          <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                          </p>
                        </div>
            
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </section> {% endcomment %}