{% extends 'riteway2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}

{% block content %}
<br><br>
{% comment %} 
 <section class="text-center mt-4">
              <h2 class="mb-5 font-weight-bold" style="color:blue;">Registration</h2>
              <p style="color:Black; font-family:Arial Black;">REGISTER BELOW IN OTHER TO GET MORE INFORMATION FROM THE C.A.C OYE-OLORUN DCC.</p>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
              </div>
              <div class="row d-flex justify-content-center mb-4">

              </div>
</section> {% endcomment %}
  
<br><br><br><br>
      

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <section>
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body bg-dark p-5 " style="">
                <img src="https://i.postimg.cc/5tDcWch9/ritedishes-modified.png" width="130" height="130" class="center z-depth-0 pol" alt="">
                  <h2 class="con text-uppercase text-center mb-5 blink90" style="color: orange; font-size: 200%; text-align: center; font-weight:900">You Are Welcome TO RiteDishes</h2>
    
                  <form>
    
                    <div class="form-outline mb-4 text-white">
                      {{ profile_form|crispy }}
                      {{ user_form|crispy }}
                    </div>
    
{% comment %}                     
                    <div class="d-flex justify-content-center">
                      <button type="button"
                        class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body">Register</button>
                    </div> {% endcomment %}

                    <div class="d-grid gap-2">
                      <button type="button submit" value="Register" class="btn btn-warning fw-bold" >Register</button>
                    </div>
    
                    <p class="text-center text-white mt-5 mb-0" >Have already an account? <a href="{% url 'user_login' %}"
                        class="fw-bold" style="color:yellow; background-color:transparent; text-decoration:none">Login here</a></p>
    

                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>
    </section>
  </form>

{%endblock%}
