{% extends 'pestrilfood.html' %}
{% load static %}
{% block title %} {% endblock %}

{% block content %}
<!-- section 1 for standards-->


<style>
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 600, 700);

      html {
        font-family: "Open Sans", sans-serif;
      }
      .cup .btn {
        position: absolute;
        top: 40%;
        border-radius: 15px;

        left: 48%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 16px;
        padding: 12px 24px;
        cursor: pointer;
        text-align: center;
      }


      body {
        font-family: Arial;
        font-size: 17px;
      }

      .food {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
      }

      .food img {vertical-align: middle;}

      .food .note {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
      }


      .blink69 {
        animation: blinker 6s linear infinite;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }

      }



      .blink29 {
        animation: blinker 6s linear infinite;
        color: black;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }

      }



      .glow98 {
        text-shadow: 0 0 5px gold, 0 0 10px gold,
        0 0 20px gold, 0 0 40px gold;
      }



      .glow01 {
        text-shadow: 0 0 5px darkGreen	, 0 0 10px darkGreen	,
        0 0 20px darkgreen	, 0 0 40px darkGreen	;
      }

      .navbar-toggler-icon {
        background-image: none!important;
        background-color: darkslategrey;
        height: 3px;
        width: 25px;
        margin: 10px 0;
        position: relative;
        transition: all 0.35s ease-out;
        transform-origin: center;
      }
      .navbar-toggler-icon::before {
        display: block;
        background-color: darkslategrey;
        height: 3px;
        content: "";
        position: relative;
        top: -7px;
        transition: all 0.15s ease-out;/*taken down to hide quicker*/
        transform-origin: center;
      }

      .navbar-toggler-icon::after {
        display: block;
        background-color: darkslategrey;
        height: 3px;
        content: "";
        position: relative;
        top: 4px;
  }


  .glow9 {
    text-shadow: 0 0 5px gold, 0 0 10px gold,
    0 0 20px gold, 0 0 40px gold;
  }

  .glow68 {
    text-shadow: 0 0 5px gold, 0 0 10px gold,
    0 0 20px gold, 0 0 40px gold;
  }

  .glow977 {
    text-shadow: 0 0 5px white, 0 0 10px white,
    0 0 20px white, 0 0 40px white;
  }

  .blink9 {
    animation: blinker 6s linear infinite;
    color: yellow;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }

  }


    .blink90 {
      animation: blinker 6s linear infinite;
      color: orange;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }



 .blink900 {
      animation: blinker 2s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }


   .blink908 {
      animation: blinker 3s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }



    .cup .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-size: 16px;
      padding: 12px 24px;
      cursor: pointer;
      text-align: center;
    }

    .blink29 {
      animation: blinker 6s linear infinite;
      color: black;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }

    }



    .blink69 {
      animation: blinker 6s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }

    }



    .glow68 {
      text-shadow: 0 0 5px gold, 0 0 10px gold,
      0 0 20px gold, 0 0 40px gold;
    }



    .glow20 {
      text-shadow: 0 0 5px yellow, 0 0 10px yellow,
      0 0 20px yellow, 0 0 40px yellow;
    }

    .glow21 {
      text-shadow: 0 0 5px darkslategrey, 0 0 10px darkslategrey,
      0 0 20px darkslategrey, 0 0 40px darkslategrey;
    }








  .clip {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: -10px;
    right: -1px; 
    {% comment %} background-color: #033E3E; {% endcomment %}
    {% comment %} background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */  {% endcomment %}
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }


  .save {
    position: relative;
    font-family: Arial;
  }
  
  .black {
    position: absolute;
    top: -1px;
    left: -1px; 
    {% comment %} background-color: #151B54; {% endcomment %}
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */ 
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }



  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 600, 700);

  html {
    font-family: "Open Sans", sans-serif;
  }
  .cup .btn {
    position: absolute;
    top: 40%;
    border-radius: 15px;

    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
  }


  body {
    font-family: Arial;
    font-size: 17px;
  }

  .food {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .food img {vertical-align: middle;}

  .food .note {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }


  .blink69 {
    animation: blinker 6s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }

  }



  .blink29 {
    animation: blinker 6s linear infinite;
    color: black;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }

  }



  .glow98 {
    text-shadow: 0 0 5px gold, 0 0 10px gold,
    0 0 20px gold, 0 0 40px gold;
  }



  .glow01 {
    text-shadow: 0 0 5px #033E3E , 0 0 10px #033E3E	,
    0 0 20px #033E3E , 0 0 40px #033E3E;
  }

  .navbar-toggler-icon {
    background-image: none!important;
    background-color: darkslategrey;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  .navbar-toggler-icon::before {
    display: block;
    background-color: darkslategrey;
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }

  .navbar-toggler-icon::after {
    display: block;
    background-color: darkslategrey;
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
}


.glow9 {
text-shadow: 0 0 5px gold, 0 0 10px gold,
0 0 20px gold, 0 0 40px gold;
}

.glow68 {
text-shadow: 0 0 5px gold, 0 0 10px gold,
0 0 20px gold, 0 0 40px gold;
}

.glow977 {
text-shadow: 0 0 5px white, 0 0 10px white,
0 0 20px white, 0 0 40px white;
}

.blink9 {
animation: blinker 6s linear infinite;
color: yellow;
}
@keyframes blinker {
50% {
  opacity: 0;
}

}


.blink90 {
  animation: blinker 6s linear infinite;
  color: orange;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}



.blink900 {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.blink908 {
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}





.cup .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
font-size: 16px;
padding: 12px 24px;
cursor: pointer;
text-align: center;
}

.blink29 {
animation: blinker 6s linear infinite;
color: black;
}
@keyframes blinker {
50% {
  opacity: 0;
}

}



.blink69 {
animation: blinker 6s linear infinite;
}
@keyframes blinker {
50% {
  opacity: 0;
}

}



.glow68 {
text-shadow: 0 0 5px gold, 0 0 10px gold,
0 0 20px gold, 0 0 40px gold;
}



.glow20 {
text-shadow: 0 0 5px yellow, 0 0 10px yellow,
0 0 20px yellow, 0 0 40px yellow;
}

.glow21 {
text-shadow: 0 0 5px darkslategrey, 0 0 10px darkslategrey,
0 0 20px darkslategrey, 0 0 40px darkslategrey;
}





.food {
position: relative;
max-width: 100%;
margin: 0 auto;
}

.food img {vertical-align: middle;}

.food .note {
position: absolute;
bottom: 0;
background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
color: #f1f1f1;
width: 100%;
padding: 15px;
}

    .button {
      background-color: #1c87c9;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: none;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-family: sans-serif;
      font-size: 20px;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
    }
    @keyframes glowing {
      0% {
        background-color: #FFAE42;
        box-shadow: 0 0 5px #004225;
      }
      50% {
        background-color: #FFAE42;
        box-shadow: 0 0 20px #004225;
      }
      100% {
        background-color: #FFAE42	;
        box-shadow: 0 0 5px #033E3E;
      }
    }
    .button {
      animation: glowing 1300ms infinite;
    }


  
    .button9 {
      background-color: #12AD2B;
      border: none;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
    
    

    
  



{% comment %} 
    .btn1 {
      margin-right: 160px;
      
    } {% endcomment %}







.cup .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
font-size: 16px;
padding: 12px 24px;
cursor: pointer;
text-align: center;
}

.blink29 {
animation: blinker 6s linear infinite;
color: black;
}
@keyframes blinker {
50% {
  opacity: 0;
}

}



.blink69 {
animation: blinker 6s linear infinite;
}
@keyframes blinker {
50% {
  opacity: 0;
}

}



.glow68 {
text-shadow: 0 0 5px gold, 0 0 10px gold,
0 0 20px gold, 0 0 40px gold;
}



.glow20 {
text-shadow: 0 0 5px yellow, 0 0 10px yellow,
0 0 20px yellow, 0 0 40px yellow;
}

.glow21 {
text-shadow: 0 0 5px darkslategrey, 0 0 10px darkslategrey,
0 0 20px darkslategrey, 0 0 40px darkslategrey;
}


.glow287 {
text-shadow: 0 0 2px #033E3E, 0 0 5px #033E3E,
0 0 5px #033E3E, 0 0 10px #033E3E;
}


.glow212 {
text-shadow: 0 0 5px #5F9EA0, 0 0 10px #5F9EA0,
0 0 20px #5F9EA0, 0 0 40px #5F9EA0;
} 

.glow29 {
text-shadow: 0 0 5px #004225, 0 0 10px #004225,
0 0 20px #004225, 0 0 40px #004225;
}





.shirt {
  position: relative;
  font-family: Arial;
}

.text-war {
  position: absolute;
  top: 80px;
  left: 10px; 
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgb(255,255,255); /* Black background with 0.5 opacity */
  color: black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}



  </style>



<div class="container-fluid" style="background-color: teal">
  <br>
<div class="card text-center">


  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active">
          <div class="food">
            <img height=350px src="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" class="d-block w-100" alt="...">
            <div style="text-align: left" class="note">
              <h1 class="glow01">RITEDISHES</h1>
              <p>We Offer The Best Meal You Can Ever Think Of</p>
            </div>
          </div>
        </div>

      <div class="carousel-item">
        <div class="food">
        <img height=350px src="https://i.postimg.cc/L8hvvGYF/pizzza-people.jpg" class="d-block w-100" alt="...">
        <div style="text-align: left" class="note">
          <h1 class="glow01">RITEDISHES</h1>
          <p>Order and Enjoy Our Tasty Pizza</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="food">
      <img height=350px src="https://i.postimg.cc/13rMXCf4/gif.gif" class="d-block w-100" alt="...">
      <div style="text-align: left" class="note">
        <h1 class="glow01">RITEDISHES</h1>
        <p>Enjoy Free Delivery Of Any Food You Order From Us</p>
      </div>
    </div>
  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  </div>
  <br>
</div>



  <section id="best-features" class="text-center">
  <div style="background-color: teal">
    <h3 class="glow977" style="background-color: orange;font-weight:900; text-align:center; font-size: 37px">PASTRY CATEGORIES</h3>
    <br>
  </div>

</section>



<div class="container-fluid" style="background-color: teal">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for rites4 in rite %}
      <div class="col ">
        <div class=" h-100 card border-success mb-3">
          <div class="save">
            <div class="clip">
          <img src="{{rites4.image.url}}" class="border border-5" alt="..." height="400px" width="100%">

          {% comment %} <img width=150px, height=200px src="{{fish.image.url}}" class="rounded-2" alt="..."> {% endcomment %}
          <div class="card-body">
            <div class="text-block glow01">
              <h4></h4>
              <h4 style="font-weight:900; text-align: right">₦{{rites4.body2 | slice:':200'}}</h4>
            </div>
            <div class="black glow01">
              <h4></h4>
              <h4 style="font-weight:900; text-align: right">{{rites4.title}}</h4>
            </div>
          </div>
          </div>
           

<!-- Example single danger button -->

<div class="modal fade" id="exampleModalToggle" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1"  style="background: #25d366 url('https://i.postimg.cc/Gp6ZPF2q/gal4.jpg') no-repeat  center;   background-size: cover; ">
  <div class="modal-dialog " >
    <div class="modal-content " >
      <div class="modal-header" style="background-color: #033E3E; border-color:  #033E3E">
        {% comment %} <span class=" glow21" id="exampleModalToggleLabel"  style=" font-family:sans-serif; font-weight:900;  color:white;"><img width="50" height="50" src='https://i.postimg.cc/GtCZ5Cb0/imageonline-co-emojiadded.png' border='0' alt='imageonline-co-emojiadded'/> RITEDISHES <br>ONLINE   <img width="21" height="21" src="https://img.icons8.com/glyph-neue/64/40C057/approval.png" alt="approval"/></span>  {% endcomment %}
      <img src="https://i.postimg.cc/GtCZ5Cb0/imageonline-co-emojiadded.png" width="50" height="50" style="   margin-right: 15px; margin-bottom: 13px;"  alt="" align="left"> 
      <h5 style="text-align: left; color: white; font-weight: 900" >RITEDISHES <img width="21" height="21" style="margin-bottom: 5px" src="https://img.icons8.com/glyph-neue/64/40C057/approval.png" alt="approval"/> <BR><span style="font-size: 20px;  font-weight: normal;font-family: Courier New">Online</span></h5>
{% comment %}         
        <img width="50" height="50" src='https://i.postimg.cc/GtCZ5Cb0/imageonline-co-emojiadded.png' border='0' alt='imageonline-co-emojiadded'/>
       <br> <h6 style="color: white; text-align: center">RITEDISHES<br><span style="font-size: 20px; color: white"> Online</span></h6> {% endcomment %}
        
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="shirt">
      <img src="https://i.postimg.cc/02JhmrbG/peakpx-2.jpg" alt="Lights" width="100%" height="400px">
        <div class="text-war">
          <h4></h4>
          <h6 style="text-align: left; font-family: serif; color: #1F6357	">Ritedishes🍛</h6>
          <h4 style="text-align: left; font-family: Georgia">Hi there 👋🏼</h4>
          <h6 style="text-align: left; font-family: Lucida Sans Unicode">Click on start chat to place your</h6> 
          <h6 style="text-align: left; font-family: Lucida Sans Unicode"> order</h6>
        </div>
      </div>
      <div style="background-color: #FFFAFA	">
     <a href="https://wa.me/message/UFD262DNNSMCI1" style="text-decoration: none"> <button  type="button" class="btn" style="display: table; font-family: sans-serif; text-decoration: none; margin: 0.6em auto; color: white; font-size: 17px; padding: 10px 80px; border-radius: 2em; font-weight: bold; background-color: #25d366"> <img style="margin-right: 2px; margin-bottom: 5px;" height=25px src="https://tochat.be/click-to-chat-directory/css/whatsapp.svg"><span style="color: black"> Start Chat</span></button></a>

      </div>

      <div class="modal-footer" style="background-color: #2E1A47	">
        <span  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" ><image height="50px" src="https://i.postimg.cc/T3grHwLg/csllnow-modified.png"></span>
        {% comment %} <button class="btn btn-warning" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" ><h4 style=" font-weight: 900"> <img style="margin-right: 2px; margin-bottom: 5px;" height="25" src="https://i.postimg.cc/yNRCdFfq/telephone.png"> Call Us</h4></button> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" style="background: #25d366 url('https://i.postimg.cc/Gp6ZPF2q/gal4.jpg') no-repeat  center;   background-size: cover; "> 
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #000080; border-color: #000080">
      <img src="https://i.postimg.cc/GtCZ5Cb0/imageonline-co-emojiadded.png" width="50" height="50" style="   margin-right: 15px; margin-bottom: 13px;" 4 alt="" align="left"> 
      <h5 style="text-align: left; color: white; font-weight: 900" >RITEDISHES <img width="21" height="21" style="margin-bottom: 5px" src="https://img.icons8.com/glyph-neue/64/40C057/approval.png" alt="approval"/> <BR><span style="font-size: 20px;  font-weight: normal;font-family: Courier New">Online</span></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"  aria-label="Close"></button>

      </div>
      <div class="shirt">
      <img src="https://i.postimg.cc/02JhmrbG/peakpx-2.jpg" alt="Lights" width="100%" height="400px">
        <div class="text-war">
          <h4></h4>
          <h6 style="text-align: left; font-family: serif; color: #1F6357	">Ritedishes🍛</h6>
          <h4 style="text-align: left; font-family: Georgia">Hi there 👋🏼</h4>
          <h6 style="text-align: left; font-family: Lucida Sans Unicode">Click on contact us to place your</h6> 
          <h6 style="text-align: left; font-family: Lucida Sans Unicode"> order</h6>
        </div>
        <div style="background-color: #FFFAFA	">
         <a href="tel:08103652434" style="text-decoration: none"> <button  type="button" class="btn" style="display: table; font-family: sans-serif; text-decoration: none; margin: 0.6em auto; color: white;  font-size: 17px; padding: 10px 80px; border-radius: 2em; font-weight: bold; background-color: #000080	"> <img style="margin-right: 2px; margin-bottom: 5px" height=25px src="https://i.postimg.cc/Gp2KHRgf/telephone-call.png"><span style="color: white; font-size: 15px"> Contact Us!</span></button></a>
    
          </div>
        </div>

      <div class="modal-footer" style="background-color: #2E1A47	">
     <a style="text-decoration: none"> <button data-bs-target="#exampleModalToggle" data-bs-toggle="modal"  type="button" class="btn" style="display: table; font-family: sans-serif; text-decoration: none; margin: 0em auto; color: white; font-size: 20px; padding: 8px 15px; border-radius: 2em; font-weight: bold; background-color: #25d366"> <img style="margin-right: 2px; margin-bottom: 5px;" height=25px src="https://tochat.be/click-to-chat-directory/css/whatsapp.svg"><span style="color: black"> Chat Us</span></button></a>

        {% comment %} <button style="border-radius: 10px" class="btn btn-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"><h3 style="font-size: 25px; font-weight: 900"><img height=25px src="https://tochat.be/click-to-chat-directory/css/whatsapp.svg"> Chat Us</h3> </button> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<div>
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a type="submit" class="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" style="font-weight: bold; ">ORDER NOW</a>
    {% comment %} <a class=" button9" data-bs-toggle="modal"  href="#exampleModalToggle" role="button" style="color:white; font-size: 15px">ORDER NOW</a> {% endcomment %}



<!-- Modal -->
  </div>
</div>
    </div>
  </div>
</div>
      {% endfor %}

  </div>

  <br>
  <div class="container text-center" >
  <h1 style="color:white">You might also like:</h1>
  <br>

  <div class="container" style="background-color: white">

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
              <img height=250 src="https://i.postimg.cc/ryj1TkBf/peopl-dey-eat.jpg" class="card-img-top" alt="...">
              <a href="{% url 'coke' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
              </div>
              <div class="card-body">
                <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900; "> FAST MENU</h5>
              </div>
            </div>
        </div>


        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">

              <img height=250 src="https://i.postimg.cc/rs7XFsC6/event-image.jpg" class="card-img-top" alt="...">
              <a href="{% url 'EventPlan' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
              </div>
              <div class="card-body">
                <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Event Planning</h5>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
            <img height=250 src="https://i.postimg.cc/1t1CNSTY/wed.jpg" class="card-img-top" alt="...">
            <a href="{% url 'EventWed' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
            </div>
            <div class="card-body">
              <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Wedding Ceremony</h5>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
            <img height=250 src="https://i.postimg.cc/RFv1BZ29/birthday-parties.jpg" class="card-img-top" alt="...">
            <a href="{% url 'EventBirth' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
            </div>
            <div class="card-body">
              <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Birthday Ceremony</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
            <img height=250 src="https://i.postimg.cc/xTFXR3QL/naming.jpg" class="card-img-top" alt="...">
            <a href="{% url 'EventName' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
            </div>
            <div class="card-body">
              <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Naming Ceremony</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
            <img height=250 src="https://i.postimg.cc/6qbX2mqL/ANN.png" class="card-img-top" alt="...">
            <a href="{% url 'EventAnn' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
            </div>
            <div class="card-body">
              <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Anniversary Celebration</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
            <img height=250 src="https://i.postimg.cc/BQbGryB6/dieting.jpg" class="card-img-top" alt="...">
            <a href="{% url 'EventDiet' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
            </div>
            <div class="card-body">
              <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Suitable Diet For You</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
            <img height=250 src="https://i.postimg.cc/nrdr41jC/hotel-management-systems.jpg" class="card-img-top" alt="...">
            <a href="{% url 'EventHot' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
            </div>
            <div class="card-body">
              <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Hotel Management</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: darkslategrey">
            <div class="cup">
            <img height=250 src="https://i.postimg.cc/3JnpTp8K/cafeteria.jpg" class="card-img-top" alt="...">
            <a href="{% url 'EventCaf' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
            </div>
            <div class="card-body">
              <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Cafeteria Management</h5>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card"style="background-color: darkslategrey" >
             <div class="cup">
              <img height=250 src="https://i.postimg.cc/3NmZLqJ5/655waiter.jpg" class="card-img-top" alt="...">
              <a href="{% url 'EventRender' %}"><button type="button" class="btn btn-warning blink29 " >View</button></a>
              </div>
              <div class="card-body">
                <h5 class="card-title glow20" style=" font-family:sans-serif; font-weight:900">Meet Our Waiter/Waitress</h5>

            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
      <br>
  </div>
  </div>

    {% endblock %}

