<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RiteDishes The Online Food Vendor </title>
    <link rel = "icon" href ="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" type = "image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="{% static 'static/js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{% static 'static/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{% static 'static/fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{% static 'static/css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static/css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="{% static 'static/js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'js/index.js' %}"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>  
  <body style="background: url(https://i.postimg.cc/15nFVPSK/Balanced-Diet-Hero-Image.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%; background-color:#123456 ">
    <style>

      body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
      .w3-bar-block .w3-bar-item {padding:20px}



      @import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 600, 700);

      html {
        font-family: "Open Sans", sans-serif;
      }





    .blink90 {
      animation: blinker 6s linear infinite;
      color: orange;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }


    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }



    .con {
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }


    </style>

    <div class="w3-top">
      <div class="w3-bar  w3-card" id="myNavbar" style="background-color:MediumSpringGreen">
        <a href="{% url 'coke' %}" class="w3-bar-item  w3-wide" style="font-family: Georgia; font-weight: 900; text-decoration:none">RITEDISHES <img style="margin-right: 2px; margin-bottom: 6px;" height=20px src="https://i.postimg.cc/5tDcWch9/ritedishes-modified.png"></a>
        <!-- Right-sided navbar links -->
        
        <div class="w3-right f w3-hide-small">
          
          <a href="{% url 'contact' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Contact</a>
          <a href="{% url 'coke' %}" onclick="w3_close()" class="w3-bar-item w3-button">🏠 Home</a>

        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    
    
    
    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
      
      <a href="{% url 'coke' %}" onclick="w3_close()" class="w3-bar-item w3-button">🏠 Home</a>
      <a href="{% url 'contact' %}" class="w3-bar-item w3-button"><i style="margin-right: 5px; margin-bottom: 6px;"class="fa fa-user"></i> Contact</a>



    </nav>
    
    
{% block content %}

{% endblock%}
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
 
<script>
  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }
  
  
  // Toggle between showing and hiding the sidebar when clicking the menu icon
  var mySidebar = document.getElementById("mySidebar");
  
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
      mySidebar.style.display = "none";
  }
  </script>



</div>
</body>
</html>