<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>RiteDishes The Online Food Vendor  </title>
    <link rel = "icon" href =
"https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg"
        type = "image/x-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'css/master_css.css' %}">


</head>
<body>
<style>
        .button {
          transition: all .5s ease;
          color: #fff;
          border: 3px solid white;
          font-family:'Montserrat', sans-serif;
          text-transform: uppercase;
          text-align: center;
          line-height: 1;
          font-size: 17px;
          background-color : transparent;
          padding: 10px;
          outline: none;
          border-radius: 4px;
      }

      .button:hover {
          color: #001F3F;
          background-color: #fff;
      }
{% comment %}
        .button4 {border-radius: 20px;} {% endcomment %}


      .glow3 {
          text-shadow: 0 0 10px darkgreen, 0 0 20px darkgreen,
          0 0 30px darkgreen, 0 0 50px darkgreen;
        }
        .glow2 {
            text-shadow: 0 0 5px darkslategrey, 0 0 10px darkslategrey,
            0 0 20px darkslategrey, 0 0 40px darkslategrey;
          }

  .blink2 {
    animation: blinker 6s linear infinite;
    color: yellow;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }

  }
</style>

<!--<div class="bgimg w3-display-container w3-text-white">-->
<!--  <div class="w3-display-middle w3-jumbo">-->

<!--<h3 style="display:flex; justify-content: center"><img style="border-radius: 50%" width=100px, height=80px src="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" ></h3>-->
<!--    <h1  class="glow3 card-header" style=" color:khaki; font-family:san-serif; font-weight:bold">-->
<!--RITEDISHES</h1>-->
<!--    <h5 style="display:flex; justify-content: center"><a href="{% url 'coke' %}" style="font-size: 30px; color: crimson; background-color: transparent; text-decoration: none;"><button class="button button4">ORDER NOW</button></a></h5>-->
<!--  </div>-->
<!--  <div class="w3-display-topleft w3-container w3-xlarge">-->
<!--    <p><button onclick="document.getElementById('contact').style.display='block'" class="w3-button" style="background-color: Midnightblue; font-family:serif; font-weight:bold" >About</button></p>-->
<!--    <p><buton onclick="document.getElementById('menu').style.display='block'" class="w3-button" style="background-color: darkslategrey; font-family:serif; font-weight:bold">Contact</button></p>-->

<!--  </div>-->
  <!-- <div class="w3-display-topleft w3-container w3-xlarge">-->
  <!--     <p>  <img style="border-radius: 50%" width=100px, height=100px src="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" class="w3-button-display-topleft"> </p>-->

  <!--</div>-->
<!--  <div class="w3-display-bottomleft w3-container">-->

    <!--<p class="w3-xlarge" style="font-weight:bold"><span class="blink2 glow2">Monday - <span style="color:Moccasin">Sunday <span style="color:greenyellow">24 Hours</span>-->
    <!--</p>-->
<!--    <p class="w3-large"><span style="color: white; font-weight:bold">82B</span><span style="color: white; font-weight:bold"> Ogiriga New Site Okugbe Road Okpella,</span> <span style="color: green; font-weight:bold">Edo State</p>-->
<!--    <p style="color:white; font-weight:900">Reg Number <span style="color: green">BN 2992010</span></p>-->
<!--  </div>-->
<!--</div>-->

<!-- Menu Modal -->
<!--<div id="menu" class="w3-modal">-->
<!--  <div class="w3-modal-content w3-animate-zoom">-->
<!--    <div class="w3-container w3-display-container" style="background-color: orange">-->
<!--      <span onclick="document.getElementById('Contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>-->
<!--      <h1 style=" font-family:serif; font-weight:bold; display:flex; justify-content: center;"><img style="border-radius: 45%" width=60px, height=60px src="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" class="d-block w-100" alt="You Dont Have Data">-->
<!--    RITEDISHES</h1>-->
<!--    </div>-->
<!--    <div class="w3-display-container w3-text-white">-->
<!--    <img src="https://i.postimg.cc/mkFQsSgR/canteen2.jpg" alt="Lights" style="width:100%">-->
<!--      <h3 style="color: Darkred; font-weight:bold; display:flex; justify-content: center;"> RITEDISHES Edo State</h3>-->
<!--      <h5 style="color: black; font-weight:900">Address: <span style="color: darkslategrey">82B, Ogiriga New Site Okugbe Road Okpella, Edo State</span></h5>-->
<!--    </div>-->
<!--    <div class="w3-container" style="background-color: orange">-->
<!--      <h1 style=" font-family:sans-serif; font-weight:900">☎ CUSTOMER CARE</h1>-->
<!--    </div>-->
<!--    <div class="w3-container">-->
<!--      <h2><img  width=35px, height=35px src="https://i.postimg.cc/jqnwsbf4/telephone-call.png" class="d-block w-100" alt="You Dont Have Data"> <span style="color: MidNightBlue; font-size: 30px">08137120024</span></h2>-->
<!--      <h2 style=" font-family:san-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/3Nj3dnYY/whatsapp.png" class="d-block w-100" alt="You Dont Have Data"><a href="https://wa.me/08022854677" style="color: blue; font-size: 30px;  color: green; background-color: transparent; text-decoration: none;"> CHAT WITH US</a> </h2>-->
<!--    </div>-->
<!--    <div class="w3-container" style="background-color:aquamarine">-->
<!--        <h2 style=" font-family:sans-serif; font-weight:900"><img  width=40px, height=40px src="https://i.postimg.cc/BZFbxYzJ/message.png" class="d-block w-100" alt="You Dont Have Data"> SOCIAL MEDIA PAGE</h2>-->
<!--      </div>-->
<!--      <div class="w3-container">-->
<!--      <h2 style=" font-family:sans-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/4d1ytrYy/instagram-5.png" class="d-block w-100" alt="You Dont Have Data"><a href="https://wa.me/08022854677" style="font-size: 30px; color: crimson; background-color: transparent; text-decoration: none;"> VIEW OUR PAGE</a> </h2>-->
<!--      <h2 style=" font-family:sans-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/q74zRJ7S/twitter.png" class="d-block w-100" alt="You Dont Have Data"><a href="" style="font-size: 30px; color: DodgerBlue; background-color: transparent; text-decoration: none;"> VIEW OUR PAGE</a> </h2>-->
<!--      <h2 style=" font-family:sans-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/vZyMHnfX/facebook-3.png" class="d-block w-100" alt="You Dont Have Data"><a href="" style="font-size: 30px; color: steelblue; background-color: transparent; text-decoration: none;"> VIEW OUR PAGE</a> </h2>-->

<!--      </div><div class="w3-container" style="background-color:Darkslategrey; color:white">-->
<!--        <h2 style=" font-family:sans-serif; font-weight:900"><img  width=35px, height=35px src="https://i.postimg.cc/KYcZtDHf/clock.png" class="d-block w-100" alt="You Dont Have Data"> OPENING HOURS</h2>-->
<!--      </div>-->
<!--      <div class="w3-container">-->
<!--        <h5 style="color: black; font-weight:900">Monday - Saturday:  <span style="color: darkslategrey">24 Hours</span></h5>-->
<!--        <h5 style="color: black; font-weight:900">Sunday:  <span style="color: darkslategrey">8:00AM - 11:00PM</span></h5>-->

<!--      </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Contact Modal -->
<!--<div id="menu" class="w3-modal">-->
<!--  <div class="w3-modal-content w3-animate-zoom">-->
<!--    <div class="w3-container w3-display-container" style="background-color: orange">-->
<!--      <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>-->
<!--      <h1 style=" font-family:serif; font-weight:bold; display:flex; justify-content: center;"><img style="border-radius: 45%" width=60px, height=60px src="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" class="d-block w-100" alt="You Dont Have Data">-->
<!--    RITEDISHES</h1>-->
<!--    </div>-->
<!--        <div class="w3-display-container w3-text-white">-->

<!--        <img src="https://i.postimg.cc/mkFQsSgR/canteen2.jpg" alt="Lights" style="width:100%">-->
<!--        <div class="w3-display-middle w3-large"><span  style=" color:Ivory; font-family:sans-serif; font-weight:bold; font-size:220%; text-shadow: 5px 5px #00008B ">ABOUT US</span></div>-->
<!--    </div>-->

<!--    <div class="w3-container">-->
<!--        <h5 style="color:black; font-family:sans-serif; font-weight:bold; font-size:200%">Our Company</h5>-->
<!--        <h5 style="color: black; display:flex; justify-content: center;">RITEDISHES is Nigeria'a pioneer QSR brand, renowned for its delicious meals and freshly baked pastries.-->
<!--            we have grown over the years, constantly re-inventing our products and services, to match the ever-evolving needs of our customers.-->
<!--        </h5>-->
<!--        <h5 style="color: black">To better server our customers, we have expanded our service style with the introduction of (Event Planning such as Wedding Ceremony,-->
<!--            Birthday Party, Naming Ceremony, Anniversary Celebration). This modular store avails us with the fast-paced lifestyles of our customers.-->
<!--        </h5>-->
<!--        <h5 style="color: black">Our standard stores remain the choice location for family outings, hanging out with loved ones and enjoying a home cooked-->
<!--            meal, away from home, as we will always be RITEDISHES ON FOOD, RITEDISHES FOR YOU! </h5>-->
<!--      </div>-->

<!--  </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
<div class="bgimg w3-display-container w3-text-white">
<div class="w3-display-middle w3-jumbo">

<h3 style="display:flex; justify-content: center"><img style="border-radius: 50%" width=100px, height=80px src="https://i.postimg.cc/bvdxJpy2/Whats-App-Image-2023-02-26-at-2-38-26-PM.jpg" ></h3>
 <h1  class="glow3 card-header" style=" color:khaki; font-family:san-serif; font-weight:bold">
RITEDISHES</h1>
    <h5 style="display:flex; justify-content: center"><a href="{% url 'coke' %}" style="font-size: 30px; color: crimson; background-color: transparent; text-decoration: none;"><button class="button button4">ORDER NOW</button></a></h5>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('contact').style.display='block'" class="w3-button" style="background-color: Midnightblue; font-family:serif; font-weight:bold" >About</button></p>
    <p><buton onclick="document.getElementById('menu').style.display='block'" class="w3-button" style="background-color: darkslategrey; font-family:serif; font-weight:bold">Contact</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container">
   <p  style="font-weight:bold; font-size: 20px"><span class="blink2 glow2">Monday - <span style="color:Moccasin">Sunday <span style="color:greenyellow">24 Hours</span>
    </p>
    <p ><span style="color: white; font-weight:bold">82B</span><span style="color: white; font-weight:bold"> Ogiriga New Site Okugbe Road Okpella,</span> <span style="color: coral; font-weight:bold">Edo State</p>
    <p style="color:white; font-weight:900">Reg Number <span style="color: coral">BN 2992010</span></p>
  </div>
</div>

<!-- Menu Modal -->
<div id="menu" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-display-container" style="background-color: orange">
      <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1 style=" font-family:serif; font-weight:bold; display:flex; justify-content: left;">
    RITEDISHES</h1>
    </div>
    <div class="w3-display-container w3-text-white">
    <img src="https://i.postimg.cc/mkFQsSgR/canteen2.jpg" alt="Lights" style="width:100%">
      <h3 style="color: Darkred; font-weight:bold; display:flex; justify-content: center;"> RITEDISHES Edo State</h3>
      <h5 style="color: black; font-weight:900">Address: <span style="color: darkslategrey">82B, Ogiriga New Site Okugbe Road Okpella, Edo State</span></h5>
    </div>
    <div class="w3-container" style="background-color: orange">
      <h4 style=" font-family:sans-serif; font-weight:900; display:flex; justify-content: center;">☎ CUSTOMER CARE</h4>
    </div>
    <!--<a href="https://www.facebook.com/profile.php?id=100089560156822&mibextid=ZbWKwL" class="me-4 link-secondary">-->
    <!--    <img src="https://i.postimg.cc/rFcCqbpM/facebook.png" class="rounded-circle z-depth-0" alt="no image found"  height="40">-->
    <!--  </a>-->
    <!--   <a href="https://instagram.com/ritedishes?igshid=OTJhZDVkZWE=" class="me-4 link-secondary">-->
    <!--    <img src="https://i.postimg.cc/xT1CnyLc/instagram-5.png" class="rounded-circle z-depth-0" alt="no image found"  height="40">-->
    <!--  </a>-->
    <!--  <a href="https://wa.me/message/UFD262DNNSMCI1" class="me-4 link-secondary">-->
    <!--    <img src="https://i.postimg.cc/3xCCcvfn/pngimg-com-whatsapp-PNG95171.png" class="rounded-circle z-depth-0" alt="no image found"  height="40">-->
    <!--  </a>-->
    <div class="w3-container">
      <h2><img  width=35px, height=35px src="https://i.postimg.cc/jqnwsbf4/telephone-call.png" class="d-block w-100" alt="You Dont Have Data"> <span style="color: MidNightBlue; font-size: 30px"><a href="tel:08103652434" style="text-decoration:none; font-weight:900;  color:black">08103652434</a></span></h2>
      <h2 style=" font-family:san-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/3xCCcvfn/pngimg-com-whatsapp-PNG95171.png" class="d-block w-100" alt="You Dont Have Data"><a href="https://wa.me/message/UFD262DNNSMCI1" style="color: blue; font-size: 30px;  color: green; background-color: transparent; text-decoration: none;"> CHAT WITH US</a> </h2>
    </div>
    <div class="w3-container" style="background-color:aquamarine">
        <h4 style=" font-family:sans-serif; font-weight:900; display:flex; justify-content: center;"><img  width=40px, height=40px src="https://i.postimg.cc/BZFbxYzJ/message.png" class="d-block w-100" alt="You Dont Have Data"> SOCIAL MEDIA PAGE</h4>
      </div>
      <div class="w3-container">
      <h2 style=" font-family:sans-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/4d1ytrYy/instagram-5.png" class="d-block w-100" alt="You Dont Have Data"><a href="https://instagram.com/ritedishes?igshid=OTJhZDVkZWE=" style="font-size: 30px; color: crimson; background-color: transparent; text-decoration: none;"> VIEW OUR PAGE</a> </h2>
      <!--<h2 style=" font-family:sans-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/9fSnmYq2/icons8-linkedin-circled-144.png" class="d-block w-100" alt="You Dont Have Data"><a href="" style="font-size: 30px; color: DodgerBlue; background-color: transparent; text-decoration: none;"> VIEW OUR PAGE</a> </h2>-->
      <h2 style=" font-family:sans-serif; font-weight:900"><img  style="border-radius: 50%" width=35px, height=35px src="https://i.postimg.cc/vZyMHnfX/facebook-3.png" class="d-block w-100" alt="You Dont Have Data"><a href="https://www.facebook.com/profile.php?id=100089560156822&mibextid=ZbWKwL"" style="font-size: 30px; color: steelblue; background-color: transparent; text-decoration: none;"> VIEW OUR PAGE</a> </h2>

      </div><div class="w3-container" style="background-color:Darkslategrey; color:white">
        <h4 style=" font-family:sans-serif; font-weight:900; display:flex; justify-content: center;"><img  width=35px, height=35px src="https://i.postimg.cc/KYcZtDHf/clock.png" class="d-block w-100" alt="You Dont Have Data"> OPENING HOURS</h4>
      </div>
      <div class="w3-container">
        <h5 style="color: black; font-weight:900">Monday - Saturday:  <span style="color: darkslategrey">24 Hours</span></h5>
        <h5 style="color: black; font-weight:900">Sunday:  <span style="color: darkslategrey">8:00AM - 11:00PM</span></h5>

      </div>
  </div>
</div>

<!-- Contact Modal -->
<div id="contact" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container" style="background-color: orange">
      <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1 style=" font-family:serif; font-weight:900">
        RITEDISHES</h1>
    </div>
        <div class="w3-display-container w3-text-white">

        <img src="https://i.postimg.cc/mkFQsSgR/canteen2.jpg" alt="Lights" style="width:100%">
        <div class="w3-display-middle w3-large"><span  style=" color:Ivory; font-family:sans-serif; font-weight:bold; font-size:150%; text-shadow: 5px 5px #00008B ">ABOUT US</span></div>
    </div>

    <div class="w3-container">
        <h5 style="color:black; font-family:sans-serif; font-weight:bold; text-align: center;  font-size:200%">Our Company</h5>
        <h5 style="color: black; display:flex; justify-content: center;">RITEDISHES is Nigeria'a pioneer QSR brand, renowned for its delicious meals and freshly baked pastries.
            we have grown over the years, constantly re-inventing our products and services, to match the ever-evolving needs of our customers.
        </h5>
        <h5 style="color: black">To better server our customers, we have expanded our service style with the introduction of (Event Planning such as Wedding Ceremony,
            Birthday Party, Naming Ceremony, Anniversary Celebration). This modular store avails us with the fast-paced lifestyles of our customers.
        </h5>
        <h5 style="color: black">Our standard stores remain the choice location for family outings, hanging out with loved ones and enjoying a home cooked
            meal, away from home, as we will always be RITEDISHES ON FOOD, RITEDISHES FOR YOU! </h5>
      </div>

  </div>
</div>

</body>
</html>

